/* NO MODIFICAR LO DE ABAJO • NO MODIFICAR LO DE ABAJO • */
/* CÓDIGO SECCIÓN DEL HEADER Y SU MENÚ */
/* ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  */

/* IMPORTAR TIPOGRAFIA */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap');



body {
    margin: 0;
    padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  height: 100px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% !important;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #e6e7e8;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
    margin-right: auto;
}

nav ul li:not(:last-child) {
    margin-right: 20px;
}

nav ul li a {
    color: #012c3d;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

/* Cambiar nombre del ID para cambiar color en el menú del Header */
/* jobs, purpose, contact, profile, closeSession  */

#profile{
  color: #f8444e;
}



/* CÓDIGO SECCIÓN DEL HEADER Y SU MENÚ */
/* NO MODIFICAR LO DE ARRIBA • NO MODIFICAR LO DE ARRIBA • */
/* ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ */

/* NO MODIFICAR LO DE ABAJO • NO MODIFICAR LO DE ABAJO • */
/* CÓDIGO SECCIÓN DEL MENÚ SECUNDARIO */
/* ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  */

/*Nav bar secundario (cuando se esta logueado)*/

.secondaryNav {
  position: sticky;
  top: 100px; /* Altura del menú principal */
  z-index: 998;
  background-color: #012c3d;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 5% !important;
}

.secondaryNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.secondaryNav ul li:not(:last-child) {
  margin-right: 25px; 
}

.secondaryNav ul li a {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* Cambiar nombre del ID para cambiar color en el menú SECUNDARIO */
/* collaborators, jobPositions, invitations, searchCandidates, notifications  */

#invitations{
  color: #09b49c;
}

/* CÓDIGO SECCIÓN DEL MENÚ SECUNDARIO */
/* NO MODIFICAR LO DE ARRIBA • NO MODIFICAR LO DE ARRIBA • */
/* ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ */

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */



.invitation{
background-color: #f8444e;
height: 500px;
}

#advertenciaMsg{
color: #ffffff;
font-size: 40pt;
}



/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */





/*  NO MODIFICAR LO DE ABAJO • NO MODIFICAR LO DE ABAJO •
    CÓDIGO SECCIÓN DEL FOOTER Y SU MENÚ
↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  */

footer {
    height: 120px;
    background-color: #4d4d4d;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5%;
  }
  
  .QuantumTechLogo img {
    height: 25px;
    margin-left: 5px;
    line-height: 10px;
  }
  
  .QuantumTechLogo p {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    align-items: center;
    margin-left: 50px;
  }
  
  .menuFooter {
    display: flex;
    align-items: center;
  }
  
  .menuFooter ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menuFooter ul li {
    margin-left: 20px;
  }
  
  .menuFooter ul li:first-child {
    margin-left: 0;
    margin-right: auto;
  }
  
  .menuFooter ul li:not(:last-child) {
    margin-right: 20px;
  }
  
  .menuFooter ul li a {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-decoration: none;
  }
  
  /*  CÓDIGO SECCIÓN DEL FOOTER Y SU MENÚ
      NO MODIFICAR LO DE ARRIBA • NO MODIFICAR LO DE ARRIBA •
  ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ */