* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  height: 800px;
  background-color: #ffffff;
}

header {
  text-align: center;
  padding-top: 50px;
}

.logo {
  height: 100px;
  max-width: 100%;
  cursor: pointer;
}

main {
  margin: 5%;
  padding: 5%;
}


.title {
  font-family: "Manrope", sans-serif;
  font-weight: medium;
  font-size: 20pt;
  color: #272727;
}

.date {
  margin-top: 3%;
  font-family: "Manrope", sans-serif;
  font-weight: medium;
  font-size: 12pt;
  color: #4d4d4d;
}

.invitation-number {
  margin-top: 5%;
  font-family: "Manrope", sans-serif;
  font-weight: medium;
  font-size: 12pt;
  color: #09b49c;
}

.message {
  margin-top: 5%;
  padding: 5%;
  border: 1pt solid #e6e7e8;
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-size: 9pt;
  color: #4d4d4d;
  line-height: 1.5;
}

.dynamic-text1 {
  margin-top: 3%;
  font-weight: bold;
  font-size: 12pt;
  color: #012c3d;
}

.decorative-line {
  display: block;
  width: 160px;
  height: 2pt;
  background-color: #012c3d;
  margin: 10px 0;
}

.dynamic-text2 {
  font-weight: light;
  font-size: 10pt;
  color: #4d4d4d;
}

/* .custom-button {
  width: 180px;
  height: 40px;
  margin-top: 5%;
  border-radius: 8px;
  background-color: #09b49c;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  font-size: 10pt;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: 0;
} */

footer {
  background-color: #4d4d4d;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

.footer-left {
  display: flex;
  align-items: center;
}

.social-icon {
  height: 22px;
  margin-right: 10px;
  cursor: pointer;
}

.footer-right {
  display: flex;
  align-items: center;
}

.menu-options {
  list-style: none;
  display: flex;
}

.menu-option {
  margin-left: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: medium;
  font-size: 8pt;
  color: #ffffff;
}
