/* NO MODIFICAR LO DE ABAJO • NO MODIFICAR LO DE ABAJO • */
/* CÓDIGO SECCIÓN DEL HEADER Y SU MENÚ */
/* ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  */

/* IMPORTAR TIPOGRAFIA */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap');



body {
    margin: 0;
    padding: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  height: 100px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% !important;
}

header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #e6e7e8;
}

.logo img {
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
    margin-right: auto;
}

nav ul li:not(:last-child) {
    margin-right: 20px;
}

nav ul li a {
    color: #012c3d;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

/* Cambiar nombre del ID para cambiar color en el menú del Header */
/* jobs, purpose, contact, profile, closeSession  */

#profile{
  color: #f8444e;
}



/* CÓDIGO SECCIÓN DEL HEADER Y SU MENÚ */
/* NO MODIFICAR LO DE ARRIBA • NO MODIFICAR LO DE ARRIBA • */
/* ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ */

/* NO MODIFICAR LO DE ABAJO • NO MODIFICAR LO DE ABAJO • */
/* CÓDIGO SECCIÓN DEL MENÚ SECUNDARIO */
/* ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  */

/*Nav bar secundario (cuando se esta logueado)*/

.secondaryNav {
  position: sticky;
  top: 100px; /* Altura del menú principal */
  z-index: 998;
  background-color: #012c3d;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0 5% !important;
}

.secondaryNav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.secondaryNav ul li:not(:last-child) {
  margin-right: 25px; 
}

.secondaryNav ul li a {
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  text-decoration: none;
}

/* Cambiar nombre del ID para cambiar color en el menú SECUNDARIO */
/* positions, notifications  */

/* #collaborators{
  color: #09b49c;
} */

/* CÓDIGO SECCIÓN DEL MENÚ SECUNDARIO */
/* NO MODIFICAR LO DE ARRIBA • NO MODIFICAR LO DE ARRIBA • */
/* ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ */

/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */




/* Final User Form Personal */



/* styles.css */
/* Estilos generales para la tabla */
.table {
    width: 550px;
    height: 60px;
    border-collapse: collapse;
}

.table__header {
    background-color: #f2f2f2;
}

.table__row:nth-child(even) {
    background-color: #f2f2f2;
}

.table__cell {
    padding: 8px;
    border: 1px solid #ccc;
}

/* Estilos específicos para los botones de editar y borrar */
.table__actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.table__edit-btn, .table__delete-btn {
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.table__delete-btn {
    background-color: #dc3545;
}


















.error {
    border: 3px solid crimson !important;
}











main {
  flex: 1;
}

/* #form2 { 
    display: none;
}

#form3 {
    display: none;
}

#save-profile {
    display: none;
}

*/

.finaluserform__personalinfo__main__section {
    border: 2px solid #c9c9c9;
    width: 700px;
    height: auto;
    margin: 0 auto;
    margin-top: 5px;
}

.finaluserform__textbox__title{
    color: #ffffff;
    background-color: #012c3d;
    width: 325px;
    height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 22pt;
}

.finaluserform__personalinfo__form {
    width: 600px;
    height: auto;
    padding-top: 25px;
    padding-left: 25px;
    margin: 0 auto;
    margin-top: 5px;
}



.finaluserform__personalinfo__input__name {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 5px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
    margin-right: 15px
}

.finaluserform__personalinfo__input__lastname {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
}

.finaluserform__personalinfo__input__id {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
    margin-right: 15px
}

.finaluserform__personalinfo__input__number {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 280px;
    height: 40px;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
}

.finaluserform__personalinfo__input__l {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 565px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
}

.finaluserform__txt {
    color: #012c3d; 
    font-family: 'Manrope', sans-serif;
    font-size: 12pt;
    display: inline;
    margin-right: 135px;
    padding-left: 10px;
}

.finaluserform__personalinfo__input__password {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 45px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
}

.finaluserform__personalinfo__select__m{
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 174px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 23px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    display: inline;
    padding-left: 10px;
}



.finaluserform__personalinfo__country {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 174px;
    height: 40px;
    margin-top: 30px;
    margin-right: 5px;
    border-radius: 10px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
}

.finaluserform__personalinfo__gender {
    border: 2px solid #c9c9c9;
    background-color: #ffffff;
    width: 355px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 20px;
    padding-right: 30px;
    float: right;
}
.finaluserform__personalinfo__gender__txt {
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding-left: 10px;
    margin-right: 15px;
    padding-top: 15px;
    display: inline-flex;
}

.finaluserform__personalinfo__gender__input {
    height: 10px;
    width: 10px;
}

.finaluserform__personalinfo__gender__options {
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 8pt;
    padding-left: 1px;
    padding-top: 15px;
    display: inline-flex;
}

.finaluserform__personalinfo__txtbox {
    border: 2px solid #c9c9c9;
    background-color: #ffffff;
    width: 565px;
    height: 120px;
    border-radius: 10px;
    margin-top: 30px;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    padding: 5px;
    resize: vertical;
}

.finaluserform__upload {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 575px;
    height: 90px;
    border-radius: 10px;
    margin-top: 30px;
}

.finaluserform__upload__border {
    border: 3px solid #c9c9c9;
    border-style: dashed;
    background-color: #ffffff;
    width: 550px;
    height: 75px;
    margin: 0 auto;
    margin-top: 3px;
}

.finaluserform__upload__txt {
    font-family: 'Manrope', sans-serif;
    font-size: 8pt;
    padding-top: 10px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.finaluserform__upload__content {
    width: 220px;
    height: 50px;
    margin: 0 auto;
    margin-top: 15px;
    align-items: center;
}

img.finaluserform__upload__img {
    height: 30px;
    width: 30px;
}

.finaluserform__upload__img {
    margin-top: 10px;
    align-items: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.button-container {
    height: 100px;
    margin-left: 60px;
    margin-top: 10px;
    display: inline-flex;
    justify-content: left;
    align-items: center;
  }
  

.finaluserform__nextbutton {
    background-color: #09b49c;
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
    margin-right: 20px;
    width: 105px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
}


/* Formacion Academica */

.finaluserform__personalinfo__select__l{
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 210px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 23px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    display: inline;
    padding-left: 10px;
}

.finaluserform__personalinfo__select__xs {
    border: 2px solid #c9c9c9;
    background-color: #f6f6f6;
    width: 112px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
    justify-content: center;
    text-align: left;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
    display: inline;
    padding-left: 10px;
}

.finaluserform__save-button {
    background-color: #09b49c;
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
    margin-right: 30px;
    width: 185px;
    height: 25px;
    font-family: 'Manrope', sans-serif;
    font-size: 10pt;
}

.finaluserform__txt__position {
    margin-top: 30px;
}

.finaluserform__save-profile-button {
    background-color: #09b49c;
    color: #ffffff;
    border-radius: 5px;
    border: 0px;
    margin-top: 30px;
    margin-right: 20px;
    width: 250px;
    height: 45px;
    font-family: 'Manrope', sans-serif;
    font-size: 18pt;
}

.finaluserform__button-render {
    width: 700px;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 18pt;
    margin-bottom: 50px;
    padding-bottom: 30px;
}



/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */
/* <><><><><><><><><><><><><><><><><><><><><><><><><><><><><><> */





/*  NO MODIFICAR LO DE ABAJO • NO MODIFICAR LO DE ABAJO •
    CÓDIGO SECCIÓN DEL FOOTER Y SU MENÚ
↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  ↧  */

footer {
    height: 120px;
    background-color: #4d4d4d;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5%;
  }
  
  .QuantumTechLogo img {
    height: 25px;
    margin-left: 5px;
    line-height: 10px;
  }
  
  .QuantumTechLogo p {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #ffffff;
    align-items: center;
    margin-left: 50px;
  }
  
  .menuFooter {
    display: flex;
    align-items: center;
  }
  
  .menuFooter ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .menuFooter ul li {
    margin-left: 20px;
  }
  
  .menuFooter ul li:first-child {
    margin-left: 0;
    margin-right: auto;
  }
  
  .menuFooter ul li:not(:last-child) {
    margin-right: 20px;
  }
  
  .menuFooter ul li a {
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    text-decoration: none;
  }
  
  /*  CÓDIGO SECCIÓN DEL FOOTER Y SU MENÚ
      NO MODIFICAR LO DE ARRIBA • NO MODIFICAR LO DE ARRIBA •
  ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ ↥ */