.popup {
  width: 420px;
  height: 440px;
  background-color: #f2f2f2;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #012c3d;
  margin: 0px 0px 0px 0px;
  text-align: center;
}

.image {
  height: 80px;
  margin: 4% 5%;
}

.input-container { /* Ancho total del contenedor */
  /* border: #f8444e solid 1px; */
  width: 240px;
  height: 30px;
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container input { /* Área del Placeholder */
  /* border: #f8444e solid 1px; */
  font-size: 10pt;
  width: 240px;
  height: 40px;
  border: 0px;
  border-radius: 4px;
  padding-left: 40px;
}

.input-container .fa { /* Área del Icono */
  /* border: #f8444e solid 1px; */
  position: absolute;
  font-size: 12pt;
  left: -8px;
  top: 8px;
  color: gray;
}

.button {
  width: 280px;
  height: 40px;
  background-color: #09b49c;
  border: 0px;
  border-radius: 8px;
  margin: 5% 5% 0% 5%;
  color: #ffffff;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #012c3d;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  color: #f8444e;
}


.popup {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #09b49c;
  opacity: 30%;
  z-index: 1;
}

.error {
  border: 3px solid crimson !important;
}
