.popup {
    width: 370px;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #012c3d;
    margin: 5% 5%;
    text-align: center;
  }
  
  .image {
    height: 110px;
    margin: 5% 5%;
  }
  
  .button {
    width: 230px;
    height: 40px;
    background-color: #09b49c;
    border: 0px;
    border-radius: 8px;
    margin: 5% 5% 0% 5%;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  
  .popup {
    /* ... */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #09b49c;
    opacity: 30%;
    z-index: 1;
  }
  