   .popup {
    width: 370px;
    height: 350px;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .message {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #f8444e;
    margin: 5% 5%;
    text-align: center;
  }
  
  .image {
    /* border: #f8444e solid 1px; */
    height: 110px;
    margin: 5% 5%;
  }
  
  .input-container { /* Ancho total del contenedor */
    /* border: #f8444e solid 1px; */
    width: 230px;
    height: 30px;
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input-container input { /* Área del Placeholder */
    /* border: #f8444e solid 1px; */
    border: 0px;
    width: 160px;
    height: 20px;
    border-radius: 4px;
    padding-left: 40px;
  }

  .input-container .fa { /* Área del Icono */
    /* border: #f8444e solid 1px; */
    position: absolute;
    left: 25px;
    top: 8px;
    color: gray;
  }

  .button {
    width: 230px;
    height: 40px;
    background-color: #09b49c;
    border: 0px;
    border-radius: 8px;
    margin: 5% 5% 0% 5%;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  
  .popup {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #09b49c;
    opacity: 30%;
    z-index: 1;
  }

.error {
  border: 3px solid crimson !important;
}